<%- include("partials/header.ejs"); %>

<div class="form">
    <form action="/update" method="post">
        <input name="id" value="<%= post.id %>" hidden>
        <div class="label">
            <label for="title">Book Title</label>
            </div>
            <div>
            <input name="title" type="text" value="<%= post.title %>" required>
            </div>
            <div>
            <label for="author">Author</label>
            </div>
            <div>
            <input name="author" type="text" value="<%= post.author %>" required>
            </div>
            <div class="dateandrate">
            
            <label for="date">Date Read</label>
            
            <input class="date" name="date" type="text" value="<%= post.date %>" required>
           
            <label class="rate" for="rate">Rate book:</label>
            
        
            <select class="select" name="rate" id="rate" size="1"  value="<%= post.rate %>" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
            <div class="label">
            <label for="review">Review</label>
            </div>
            <div class="textArea">
            <textarea name="review" placeholder="Write your review..." required><%= post.review %></textarea>
            </div>
            <div>
            <input class="submitButton" type="submit" placeholder="Save">
            </div>
    </form>
</div>



<%- include("partials/footer.ejs"); %>